.App {
  text-align: center;
}

button {
  margin-top: 5px !important;
}

.card {
  width: 35vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1920px) {
  .card {
    width: 27vw;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 40vw;
  }
}

@media only screen and (max-width: 900px) {
  .card {
    width: 45vw;
  }
}

@media only screen and (max-width: 660px) {
  .card {
    width: 55vw;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 65vw;
  }
}